.recetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search button[type="submit"] {
  background-color: #3b9e0d;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: rgb(255, 153, 0);
}

@media (max-width: 767px) {
  .search input[type="text"] {
    width: 305px;
  }
}

.cardsrecetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir las tarjetas uniformemente */
  margin: 45px;
}


.cardsrecetas .card {
  width: calc(25% - 20px); /* Ajusta el ancho de la tarjeta */
  max-width: calc(25% - 20px); /* Ajusta el ancho máximo de la tarjeta */
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cardsrecetas .card:hover {
  transform: scale(1.05);
}

.cardsrecetas img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cardsrecetas .card-content {
  padding: 10px;
  text-align: left;
}

.cardsrecetas .card-title {
  font-size: 18px;
  font-weight: bold;
}

.cardsrecetas .card-description {
  font-size: 14px;
  color: #555;
}

@media (max-width: 767px) {
  .cardsrecetas {
    flex-direction: column;
  }
}

.buttonclose {
  position: relative;
  width: 4em;
  height: 4em;
  border: none;
  background: #00000061;
  border-radius: 80px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 7px;
  pointer-events: none;
  opacity: 0;
}

.buttonclose:hover {
  background-color: rgb(211, 21, 21);
}

.buttonclose:active {
  background-color: rgb(130, 0, 0);
}

.buttonclose:hover > .close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

.bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar .buttonclose {
  margin-left: 20px;
}