.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Estilos responsivos para las tarjetas */
  @media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        flex: none;
    }
  }
  